@mixin button($width,$height,$font_size){
	width: $width;
	line-height: $height;
	font-size: $font_size;
	color: $main_white;
	text-align: center;
}
@mixin tag($font_size,$pd_y,$pd_x){
	line-height: $font_size;
	font-size: $font_size;
	padding: $pd_y $pd_x;
	text-align: center;
}
@mixin course_class($width,$height,$size){
	width: $width;
    height: $height;
    color: $main_green;
    border: 2px solid;
    border-radius: 50%;
    line-height:$height; 
    font-size: $size;
    font-weight: lighter;
    text-align: center;
}