/***
 xueer header.scss
 authored by zindex
***/

.header {
    background: $main_white;
    border-bottom: 2px solid $font_grey_deep;
}

.header {
    .container {
        width: 1000px;
    }
    .head {
        
    }
    .nav {
        height: 100%;
    }
    .rbt_logo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 20px;
    }
    .logo {
        width: 95px;
        height: 35px;
        margin-right: 47px;
    }
    .search {
        width: 390px;
    }
    .log_button {
        @include button(90px,
        30px,
        14px)
    }
    .login {
        background-color: $main_green;
    }
}

.search {
    .search_component_inject{
        height:34px;
        width:269px;
        box-sizing:border-box;
        border: 2px solid $font_red_deep;
        border-right: none;
    }
    .search_button {
        line-height: 32px;
        height: 34px;
        width: 80px;
        background-color: $font_red_deep;
    }
    .search_icon {
        width: 26px;
        height: 26px;
    }
    .search_container {
        position: relative;
    }
    .input {
        display:block;
        height: 30px;
        padding: 0 10px;
        width: 247px;
        font-size: 14px;
        
    }
    .pop_box {
        width: 271px;
        height: auto;
        box-sizing: border-box;
        border: 2px solid $font_red_deep;
        position: absolute;
        top: 32px;
        left: -2px;
        z-index: 2;
        background-color: #fff;
        border-top:0;
    }
    .hot_tags {
        padding: 22px 12px 32px;
        color: $font_grey_light;
    }
    .tag_title {
        font-size: 12px;
    }
    .pop_list a.item {
        display: block;
        font-size: 14px;
        line-height: 25px;
        padding: 0px 12px;
    }
    .pop_list a.item:hover {
        background-color: $font_grey_deep;
    }
    .pop_list a,
    .tag_title a {
        color: $font_grey_light;
    }
}

.nav {
    .item {
        height: 100%;
        line-height: 75px;
        box-sizing: border-box;
        border-top: 5px solid $main_white;
        font-size: 20px;
    }
    .active {
        border-top-color: $font_red_deep;
    }
    .first {
        margin-right: 70px;
        color: $font_red_deep;
    }
    .last {
        margin-right: 115px;
        color: $font_black_middle;
    }
}
