**/*.pyc
*.pyc
.DS_Store
**/*.rdb
xueer.sock
xueer_test.sqlite
xueer_dev.sqlite
supervisor.conf
celerybeat-schedule.db
celerybeat-schedule
celerybeat.pid
workers/workers.db
-1
.idea/
venv/
migrations/
whoosh_index/
todo/
xueer/static/x_d/js
xueer/static/x_d/css
xueer/src/node_modules
