/***
 xueer component index_list
 authored by zindex
***/
.hot_courses{
	width: 1000px;
	box-sizing: border-box;
	padding: 40px 56px 48px 55px;
	margin-bottom: 10px;
	background: $main_white;
	.item{
		margin-bottom: 5px;
	}
	.list_tag{
		display: inline-block;
		vertical-align: middle;
		border: 3px solid $font_black_deep;
		border-radius: 3px;
		margin-right: 10px;
	}
	.info{
		font-size: 12px;
		color:$font_grey_light;
		width: 100%;
		padding: 3px 10px;
	}
	.lists {
		font-size: 14px;
		width: 220px;
	}
	.lists{
		a{
			width: 112px;
			padding: 3px 0;
			display: inline-block;
			vertical-align: middle;
			font-size: 14px;
			overflow:hidden;
			white-space:nowrap;
			text-overflow:ellipsis;
			color:$font_grey_light;
		}
		.more {
			@include course_class(24px,24px,24px);
			border-width: 1px;
			margin-top: 32px;
		}
		.course_class {
			@include course_class(96px,96px,36px);
		}
		.list{
			margin: 0 45px;
		}
		.list_cont {
			margin: 40px 0 30px;
			border-right: 2px solid $border_grey;
		}
	}
	.item:last-child {
		margin-bottom: 0;
	}
	.info:last-child {
		margin-bottom: 0px;
	}
	.lists:last-child {
		margin-right: 0;
		.item {
			padding-right: 0;
		}
		.list_cont {
			border-right: 0;
		}
	}
	.item:hover {
		.list_tag {
			border-color: $font_red_deep; 
		}
		.info,
		a{
			color: $font_red_deep;
		}
	}
}
