.class_container {
  width: 1000px;
  padding-bottom: 330px;
  margin-bottom: 90px;
  background: $main_white;
  .tags {
    display: inline-block;
    width: 243px;
    margin-bottom: 20px;
  }
  .tag_item {
    display: inline-block;
    font-weight: lighter;
    color: $main_white;
    background: $main_green;

    @include tag(18px, 6px, 10px);
  }
  .class_tags {
    width: 356px;
    height: 60px;
  }
  .classes_tags {
    width: 730px;
    padding: 30px 0;
    .title {
      padding-left: 10px;
      margin: 0 73px;
      margin-bottom: 20px;
      font-size: 18px;
      border-left: 5px solid $font_red_deep;
    }
  }
  .class_tag:last-child {
    margin: 0;
  }
}
