<div class="hot_courses margin_auto space">
	<div class="lists va_top space">
		<div class="course_class margin_auto">公</div>
		<div class="list ib">
			{% for course in gong_top_list %}
				{% if loop.index is even %}{% else %}{% endif %}
			<div class="item">
				<div class="course_name">
					<span class="list_tag"></span>
                    <a href={{ url_for('hello.course', id=course.id) }}>{{ course.name }}</a>
				</div>
				<div class="info left">
					<span class="teacher">&nbsp;&nbsp;{{ course.teacher }}</span>
				</div>
			</div>
			{% endfor %}
		</div>
        <a href=""><div class="more tc margin_auto cp">+</div></a>
	</div>
	<div class="lists va_top space">
		<div class="course_class margin_auto">通</div>
		<div class="list ib">
			{% for course in tong_top_list %}
				{%- if loop.index is even %}{% else %}{% endif %}
			<div class="item">
				<div class="course_name">
					<span class="list_tag"></span>
                    <a href="{{ url_for('hello.course', id=course.id) }}">{{ course.name }}</a>
				</div>
				<div class="info left">
					<span class="teacher">&nbsp;&nbsp;{{ course.teacher }}</span>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="more tc margin_auto cp">+</div>
	</div>
	<div class="lists va_top space">
		<div class="course_class margin_auto">素</div>
		<div class="list ib">
			{% for course in gong_top_list %}
				{%- if loop.index is even %}{% else %}{% endif %}
			<div class="item">
				<div class="course_name">
					<span class="list_tag"></span>
                    <a href="{{ url_for('hello.course', id=course.id) }}">{{ course.name }}</a>
				</div>
				<div class="info left">
					<span class="teacher">&nbsp;&nbsp;{{ course.teacher }}</span>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="more tc margin_auto cp">+</div>
	</div>
	<div class="lists va_top space">
		<div class="course_class">专</div>
		<div class="list ib">
			{% for course in tong_top_list %}
				{%- if loop.index is even %}{% else %}{% endif %}
			<div class="item">
				<div class="course_name">
					<span class="list_tag"></span>
                    <a href="{{ url_for('hello.course', id=course.id) }}">{{ course.name }}</a>
				</div>
				<div class="info left">
					<span class="teacher">&nbsp;&nbsp;{{ course.teacher }}</span>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="more tc margin_auto cp">+</div>
	</div>
</div>
