@charset "UTF-8";
/***
 xueer reset.scss
 authored by zindex
***/
body {
  font-family: "Mircosoft YaHei","\5FAE\8F6F\96C5\9ED1","Arial","Helvetica","PingFang SC","STHeiti","sans-serif";
  line-height: 1;
  min-width: 1000px;
  background: #F4F4F4; }

html, body, button, form, textarea, input, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1rem; }

input, button, textarea {
  border: 0;
  outline: 0;
  box-sizing: content-box; }

button {
  cursor: pointer; }

html {
  font-size: 12px; }

a {
  color: #fff;
  text-decoration: none; }

textarea {
  display: block; }

li {
  list-style: none; }

.margin_auto {
  margin: 0 auto; }

.space {
  font-size: 0rem; }

.va_item {
  display: inline-block;
  vertical-align: middle; }

.va_top {
  display: inline-block;
  vertical-align: top; }

.tc {
  text-align: center; }

.cp {
  cursor: pointer; }

.border_b {
  border-bottom: 2px solid #e5e5e5; }

.margin_b {
  margin-bottom: 78px; }

/***
 xueer header.scss
 authored by zindex
***/
.header {
  height: 80px;
  border-bottom: 1px solid #eeeeee;
  background: #FFFFFF; }

.nav:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%; }

.header .container {
  width: 1000px; }

.header .head {
  height: 80px;
  line-height: 80px; }

.header .nav {
  height: 100%; }

.header .rbt_logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px; }

.header .logo {
  width: 95px;
  height: 35px;
  margin-right: 47px; }

.header .search {
  width: 390px;
  height: 80px;
  line-height: 80px; }

.header .log_button {
  font-size: 18px;
  width: 90px;
  line-height: 40px;
  border-radius: 3px;
  color: #FFFFFF;
  text-align: center; }

.header .login {
  background-color: #1dc091; }

.search .input {
  font-size: 18px;
  padding-left: 12px; }

.search .search_button {
  line-height: 32px;
  height: 32px;
  width: 80px;
  background-color: #EA5A70;
  border-radius: 0px 3px 3px 0px; }

.search .search_icon {
  width: 26px;
  height: 26px; }

.search .search_container {
  position: relative; }

.search .input_warpper {
  height: 30px;
  padding: 0 10px;
  width: 228px;
  font-size: 14px;
  border-radius: 3px 0px 0px 3px;
  border: 1px solid #EA5A70;
  border-right: none; }

.nav .item {
  height: 100%;
  line-height: 75px;
  box-sizing: border-box;
  border-top: 5px solid #FFFFFF;
  font-size: 20px; }

.nav .active {
  border-top-color: #EA5A70; }

.nav .first {
  margin-right: 70px;
  color: #EA5A70; }

.nav .last {
  margin-right: 115px;
  color: #666666; }

.nav .item:hover {
  color: #44C0FF; }

/***
 xueer footer.scss
 authored by zindex
***/
.footer {
  width: 100%;
  min-width: 1000px;
  border-top: 1px solid #eeeeee;
  font-size: 16px;
  color: #FFFFFF;
  position: absolute; }

.footer .copyright {
  text-align: center;
  height: 120px;
  background-color: #333333; }

.footer .robbit {
  width: 301px;
  height: 35px;
  margin-bottom: 10px; }

.footer .about {
  padding-top: 30px;
  font-family: PingFang SC;
  font-size: 14px;
  color: #9B9B9B;
  font-weight: lighter; }
  .footer .about .muxi {
    letter-spacing: 5px;
    word-spacing: 5px; }
  .footer .about .line {
    width: 3px;
    height: 10px;
    display: inline-block;
    background: #EA5A70;
    border-radius: 1.5px;
    margin: 0 10px; }

/***
 xueer components/course/info.scss
 authored by zindex
***/
.info {
  width: 1000px; }

.course_info {
  width: 678px; }

.course_intro {
  display: inline-block;
  border-left: 1px solid #eeeeee; }
  .course_intro ul {
    margin: 0; }
  .course_intro li {
    font-weight: 400;
    line-height: 30px; }
  .course_intro .disc {
    display: inline-block;
    width: 0;
    height: 0;
    margin: 0 10px;
    border: 4px solid #EA5A70;
    border-radius: 4px; }
  .course_intro .course_name {
    font-size: 18px; }
  .course_intro .teacher_name {
    font-size: 14px; }
  .course_intro .course_message {
    font-size: 14px;
    font-weight: lighter;
    line-height: 20px;
    width: 434px;
    margin-left: 70px;
    margin-top: 10px; }

.info .course_class {
  width: 96px;
  height: 96px;
  color: #1dc091;
  border: 2px solid;
  border-radius: 50%;
  line-height: 96px;
  font-size: 36px;
  font-weight: 300;
  text-align: center;
  margin-right: 35px; }

.info .course {
  background: #FFFFFF;
  padding: 40px 30px 40px 80px;
  display: inline-block;
  width: 800px;
  box-sizing: border-box;
  margin-right: 10px; }

.info .like {
  width: 185px;
  background: #FFFFFF; }

.info .tags {
  color: #FFFFFF;
  margin-top: 26px;
  padding-left: 160px;
  font-weight: lighter; }

.info .tag {
  font-size: 18px;
  padding: 3px 14px;
  text-align: center;
  margin-right: 20px;
  border: 2px solid #FFFFFF;
  background: #F5A623; }

.info .like_bt {
  padding: 20px 76px 26px 78px;
  background: #EA5A70;
  font-size: 36px;
  color: #FFFFFF; }

.info .count {
  color: #5c5c5c;
  padding: 38px 40px 22px 40px; }

.info .num {
  font-size: 24px;
  color: #EA5A70; }

.info .count_text {
  font-size: 18px;
  font-weight: lighter; }

.info .comment_btn {
  border-right-width: 2px; }

.info .btn_text {
  height: 100%;
  font-size: 20px;
  margin-left: 12px; }

.info .margin_b {
  margin-bottom: 10px; }

.info .like_i {
  width: 20px;
  height: 18px; }

.info .comment_i {
  width: 24px;
  height: 19px; }

.info .btn_text {
  line-height: 61px; }

.info .btn_text {
  line-height: 63px; }

.info .tag:hover {
  background-color: #F5A623;
  border: 2px solid #44C0FF;
  color: #FFFFFF; }

.info .like_bt:hover {
  color: #44C0FF; }

/***
 xueer components/course/comments.scss
 authored by zindex
***/
.comments_box {
  width: 1000px; }

.comments_cont {
  width: 800px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-right: 200px;
  background: #FFFFFF;
  padding: 42px 38px 60px 76px; }
  .comments_cont .head {
    padding-bottom: 20px; }
  .comments_cont .head_txt {
    font-size: 18px;
    color: #5c5c5c;
    border-left: 4px solid #EA5A70;
    height: 20px;
    padding-left: 11px;
    line-height: 20px; }
  .comments_cont .pager {
    margin-bottom: 40px; }
  .comments_cont .avatar {
    display: inline-block;
    width: 59px;
    height: 59px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top; }
  .comments_cont .comment {
    margin-top: 10px;
    border-bottom: 1px solid #eeeeee; }
  .comments_cont .avatar img {
    width: 100%;
    height: 100%; }
  .comments_cont .top span {
    display: inline-block; }
  .comments_cont .comment .content {
    display: inline-block;
    width: 600px;
    padding-left: 17px; }
  .comments_cont .comment .top {
    padding-top: 11px;
    padding-bottom: 14px;
    color: #1dc091; }
  .comments_cont .comment .username {
    font-size: 18px;
    width: 50%;
    text-align: left; }
  .comments_cont .comment .hot {
    background: #EA5A70;
    width: 20px;
    height: 15px;
    margin-left: 5px;
    font-size: 9px;
    color: #FFFFFF;
    line-height: 15px;
    vertical-align: top; }
  .comments_cont .comment .date {
    font-size: 12px;
    color: #333333;
    font-weight: lighter;
    margin-left: 20px;
    text-align: right; }
  .comments_cont .comment .body {
    padding: 0 10px;
    font-size: 14px;
    color: #333333;
    line-height: 22px;
    margin-bottom: 10px; }
  .comments_cont .comment .like {
    width: 485px;
    display: inline-block;
    font-size: 12px;
    color: #ffb75b;
    text-align: right;
    margin-bottom: 20px; }
  .comments_cont .new_comment_cont .avatar {
    margin-right: 10px; }
  .comments_cont .new_comment_cont .textarea {
    width: 608px;
    height: 200px;
    padding: 10px;
    resize: vertical;
    box-sizing: border-box;
    border: 2px solid #eeeeee; }
  .comments_cont .new_comment_cont .comment_box {
    display: inline-block; }
  .comments_cont .new_comment_cont .submit_bt {
    width: 100px;
    line-height: 30px;
    border-radius: 0;
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin-top: 58px;
    margin-bottom: 80px;
    background: #1dc091;
    font-size: 14px;
    font-weight: 400; }
  .comments_cont .new_comment_cont .tag_head {
    font-size: 14px;
    font-weight: lighter;
    color: #1dc091;
    margin-bottom: 10px; }
  .comments_cont .new_comment_cont .tags_box {
    width: 584px;
    min-height: 36px;
    padding: 0 10px;
    border: 2px solid #eeeeee;
    margin: 30px 0; }
  .comments_cont .new_comment_cont .tag {
    font-size: 14px;
    padding: 3px 14px;
    text-align: center;
    font-weight: lighter;
    color: #FFFFFF;
    line-height: 14px; }
  .comments_cont .new_comment_cont .pre_tag:hover {
    color: #44C0FF;
    background: #ffb75b; }
  .comments_cont .new_comment_cont .comment_tags_input {
    display: none; }
  .comments_cont .new_comment_cont .new_tag_input {
    line-height: 36px; }
  .comments_cont .new_comment_cont .tag_warpper {
    position: relative;
    margin-right: 10px;
    background: #cdcdcd; }
  .comments_cont .new_comment_cont .tag_overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 56px;
    background-color: #EEAB5D;
    display: none;
    box-sizing: border-box; }
  .comments_cont .new_comment_cont .tags-enter {
    opacity: 0.01; }
  .comments_cont .new_comment_cont .tags-enter.tags-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in; }
  .comments_cont .new_comment_cont .tags-leave {
    opacity: 1; }
  .comments_cont .new_comment_cont .tags-leave.tags-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in; }

/***
 xueer component index_banner
 authored by xxx
***/
.banner {
  width: 1000px;
  overflow: hidden;
  position: relative;
  height: 352px; }
  .banner .item {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    visibility: hidden; }
  .banner .item img {
    display: block;
    margin: 0 auto;
    width: 1000px;
    min-height: 100%; }
  .banner .current {
    visibility: visible; }
  .banner .dots_container {
    position: relative;
    margin: 0 auto;
    width: 960px;
    height: 100%; }
  .banner .dots {
    position: absolute;
    bottom: 20px;
    right: 25px;
    height: 15px;
    text-align: center; }
  .banner .current_dot {
    background-color: #ffb75b; }
  .banner .dot {
    width: 10px;
    height: 10px;
    background-color: #FFFFFF;
    border-radius: 50%;
    cursor: pointer;
    margin: 5px; }
  .banner .ltr_prev {
    animation: l_t_r_prev 2s; }
  .banner .ltr_next {
    animation: l_t_r_next 2s; }
  .banner .rtl_next {
    animation: r_t_l_prev 2s; }
  .banner .rtl_prev {
    animation: r_t_l_next 2s; }
  .banner .top {
    z-index: 3; }
  .banner .dot:hover {
    background-color: #ffb75b; }

@keyframes l_t_r_prev {
  to {
    transform: translateX(100%); } }

@keyframes l_t_r_next {
  from {
    transform: translateX(-100%); } }

@keyframes r_t_l_prev {
  to {
    transform: translateX(-100%); } }

@keyframes r_t_l_next {
  from {
    transform: translateX(100%); } }

/***
 xueer component index_list
 authored by zindex
***/
.hot_courses {
  width: 1000px;
  box-sizing: border-box;
  padding: 40px 80px 40px 100px;
  margin-bottom: 10px;
  background: #FFFFFF; }
  .hot_courses .ib {
    margin-top: 40px; }
  .hot_courses .item {
    width: 158px;
    padding-right: 20px;
    margin-bottom: 37px; }
  .hot_courses .list_tag {
    display: inline-block;
    border: 3px solid #333333;
    border-radius: 3px;
    margin-right: 5px; }
  .hot_courses .course_name {
    font-size: 14px;
    margin-bottom: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }
  .hot_courses .info {
    font-size: 18px;
    color: #5c5c5c;
    width: 100%; }
  .hot_courses .teacher {
    font-size: 12px;
    margin-left: 10px; }
  .hot_courses .lists {
    margin-right: 40px; }
  .hot_courses .lists a {
    color: #5c5c5c; }
  .hot_courses .lists .more {
    width: 24px;
    height: 24px;
    color: #1dc091;
    border: 2px solid;
    border-radius: 50%;
    line-height: 24px;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    margin-top: 32px; }
  .hot_courses .lists .course_class {
    width: 96px;
    height: 96px;
    color: #1dc091;
    border: 2px solid;
    border-radius: 50%;
    line-height: 96px;
    font-size: 36px;
    font-weight: 300;
    text-align: center; }
  .hot_courses .lists .list {
    font-size: 24px;
    padding-top: 5px;
    border-right: 2px solid #eeeeee; }
  .hot_courses .item:last-child {
    margin-bottom: 0; }
  .hot_courses .info:last-child {
    margin-bottom: 0px; }
  .hot_courses .lists:last-child {
    margin-right: 0; }
    .hot_courses .lists:last-child .item {
      padding-right: 0; }
    .hot_courses .lists:last-child .list {
      border-right: 0; }
    .hot_courses .lists:last-child .course_class {
      margin-left: 40px; }
  .hot_courses .item:hover .list_tag {
    border-color: #EA5A70; }
  .hot_courses .item:hover .teacher,
  .hot_courses .item:hover a {
    color: #EA5A70; }

.hot_course {
  width: 1000px;
  background: #FFFFFF;
  box-sizing: border-box;
  padding: 30px 144px; }
  .hot_course .head {
    width: 230px;
    height: 42px;
    margin-bottom: 20px; }
  .hot_course .title {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 5px;
    color: #333333; }
  .hot_course .introduce {
    font-size: 12px;
    line-height: 12px;
    color: #1dc091; }
  .hot_course .course_about {
    font-weight: lighter; }
  .hot_course .course_about,
  .hot_course .course_index {
    width: 140px;
    height: 103px;
    line-height: 103px; }
  .hot_course .center_cont {
    font-size: 14px;
    line-height: 18px; }
  .hot_course .course_about:nth-child(odd) {
    border: 2px solid #1dc091;
    border-left: 0;
    border-right: 0; }
  .hot_course .course_about:nth-child(even) {
    border: 2px solid #1dc091;
    border-bottom: 0;
    border-left: 0;
    border-right: 0; }
  .hot_course .course_index {
    font-size: 35px;
    color: #EA5A70;
    text-decoration: underline;
    line-height: 103px; }
  .hot_course .hot_cont:nth-child(even) {
    border: 2px;
    border-color: #1dc091;
    border-top: 2px solid #FFFFFF;
    border-style: solid; }
  .hot_course .hot_cont:nth-child(3) .course_about {
    color: #FFFFFF;
    background: #1dc091; }
  .hot_course .hot_cont:last-child .course_about {
    border-right: 2px solid #1dc091; }
  .hot_course .hot_cont:first-child .course_about {
    border-left: 2px solid #1dc091; }

.hot_course {
  padding-left: 127px;
  padding-right: 127px; }

.guess_cont {
  padding: 5px 0 110px;
  font-weight: lighter;
  color: #FFFFFF; }
  .guess_cont .outer {
    width: 175px;
    display: inline-block;
    margin-right: 15px; }
    .guess_cont .outer .hover_rbt {
      width: 60px;
      height: 30px;
      display: block;
      visibility: hidden;
      margin-bottom: -4px; }
    .guess_cont .outer .course_info {
      height: 107px;
      width: 100%;
      line-height: 107px;
      border-top: 0;
      background: #F18C9B; }
    .guess_cont .outer .center_cont {
      line-height: 18px; }
    .guess_cont .outer .class_name {
      font-size: 18px;
      margin-bottom: 7px; }
    .guess_cont .outer .teacher {
      font-size: 12px; }
  .guess_cont .course_info:hover {
    background: #EA5A70; }
  .guess_cont .outer:last-child {
    margin-right: 0; }
  .guess_cont .outer:hover .hover_rbt {
    visibility: visible; }

.pager {
  text-align: right;
  margin-top: 40px;
  color: #FFFFFF;
  font-size: 14px; }
  .pager .item {
    line-height: 30px;
    margin-left: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #cdcdcd; }
  .pager .current {
    background: #1dc091; }
  .pager .more {
    color: #cdcdcd;
    background: #FFFFFF; }
  .pager .check_bt {
    display: inline-block;
    width: 60px;
    height: 30px;
    background: #1dc091; }

/***
 xueer component index_guess
 authored by StephenLiu
***/
.result {
  width: 1000px; }
  .result .head {
    line-height: 50px;
    margin-bottom: 8px;
    background: #FFFFFF;
    border-bottom: 3px solid #eeeeee; }
  .result .head_txt {
    font-size: 18px;
    color: #5c5c5c;
    background: #FFFFFF; }
  .result .no-result {
    margin-top: 40px; }
  .result .list_title {
    display: block;
    width: 560px;
    color: #5c5c5c;
    font-size: 20px;
    line-height: 20px; }
  .result .like {
    width: 193px;
    padding: 20px 0;
    font-size: 18px;
    display: inline-block; }
  .result .count {
    color: #EA5A70; }
  .result .like_text {
    color: #333333; }
  .result .count,
  .result .like_text {
    padding: 5px 0 0 60px; }
  .result .result_cont {
    background: #FFFFFF;
    padding: 0 50px 30px; }
    .result .result_cont .course_cont {
      padding: 20px 0;
      border-bottom: 1px solid #eeeeee; }
    .result .result_cont .course_intro {
      margin-left: 20px;
      padding-left: 20px;
      vertical-align: top; }
    .result .result_cont .course_msg {
      font-size: 14px;
      font-weight: lighter;
      color: #999999; }
    .result .result_cont .course_class {
      width: 80px;
      height: 80px;
      color: #1dc091;
      border: 2px solid;
      border-radius: 50%;
      line-height: 80px;
      font-size: 36px;
      font-weight: 300;
      text-align: center; }
    .result .result_cont .course_class,
    .result .result_cont .course_message {
      display: inline-block; }
    .result .result_cont .line {
      margin: 0 10px 2px;
      border-right: 2px solid #666666; }
  .result .list_title:hover {
    color: #8491c3; }
  .result .list_title .line {
    border-color: #8491c3; }

/*
login.scss
*/
.login_content {
  width: 100%;
  background: #F4F4F4; }
  .login_content form input {
    height: 40px;
    width: 240px;
    line-height: 40px;
    box-sizing: border-box;
    margin: 10px 0; }
  .login_content form input[type=text] {
    font-size: 20px;
    color: #666666;
    padding: 0px 15px;
    border: 1px solid #666666; }
  .login_content form input[type=submit] {
    background: #EA5A70;
    color: #FFFFFF;
    font-size: 18px;
    margin-top: 25px;
    cursor: pointer; }
  .login_content form .forget {
    line-height: 20px;
    text-align: right;
    color: #EA5A70; }
  .login_content .login {
    width: 1000px;
    height: 780px;
    position: relative;
    line-height: 26px; }
  .login_content .content {
    padding: 30px 50px;
    height: 426px;
    width: 340px;
    background: #FFFFFF;
    position: absolute;
    right: 140px;
    bottom: 230px;
    box-sizing: border-box;
    box-shadow: 5px 1px 0px #CDCDCD; }
  .login_content .band {
    width: 48px;
    height: 70px;
    position: absolute;
    top: -35px;
    left: 146px; }
  .login_content .band_t,
  .login_content .band_b {
    height: 50%;
    background: #eeeeee; }
  .login_content .band_b {
    opacity: .3; }
  .login_content .folder {
    width: 92px;
    height: 60px;
    position: absolute;
    bottom: -3px;
    right: -4px; }
  .login_content .cactus {
    width: 85px;
    height: 135px;
    position: absolute;
    bottom: -83px;
    left: -10px; }
  .login_content .trg {
    width: 94px;
    height: 52px;
    box-sizing: border-box;
    border-bottom: 26px solid #F5EA5C;
    border-top: 26px solid transparent;
    border-left: 47px solid transparent;
    border-right: 47px solid #F5EA5C;
    position: absolute;
    bottom: -1px;
    right: -5px; }
  .login_content p.bottom_line {
    text-align: center;
    color: #4098d1;
    font-size: 12px;
    font-weight: light;
    margin: 40px 42px 10px 0px; }
    .login_content p.bottom_line a {
      font-size: 16px;
      font-weight: bold;
      color: #EA5A70; }
  .login_content .login > svg {
    width: 1002px;
    height: 676px;
    position: absolute;
    bottom: -73px; }
  .login_content .log_option {
    margin: 40px 0 20px; }
    .login_content .log_option p {
      color: #5c5c5c;
      font-size: 22px; }
    .login_content .log_option p span {
      display: inline-block;
      border-bottom: solid 2px #FFFFFF; }

/*
register.scss
*/
.registe_box {
  width: 1000px;
  box-sizing: border-box;
  padding: 70px 80px 410px;
  background: #FFFFFF; }
  .registe_box form {
    padding-top: 40px;
    font-size: 24px; }
    .registe_box form span {
      height: 40px;
      line-height: 40px;
      width: 138px; }
  .registe_box input.submit {
    width: 280px;
    line-height: 50px;
    border-radius: 0;
    color: #FFFFFF;
    text-align: center;
    display: block;
    margin-top: 37px;
    background-color: #1dc091;
    font-size: 20px; }
  .registe_box .register {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    color: #666666;
    border-left: 5px solid #EA5A70;
    font-size: 18px;
    line-height: 20px;
    padding-left: 10px; }
  .registe_box .login {
    width: 50%;
    display: inline-block;
    text-align: right;
    color: #4098d1;
    font-size: 12px; }
    .registe_box .login a {
      font-size: 18px;
      color: #ec6941; }
  .registe_box .must {
    width: 450px; }
    .registe_box .must span {
      color: #1dc091; }
    .registe_box .must input {
      width: 100%;
      height: 50px;
      box-sizing: border-box;
      color: #666666;
      font-size: 16px;
      border: solid 1px;
      padding: 0px 10px; }
    .registe_box .must .hint {
      height: 17px;
      font-size: 12px;
      text-align: right;
      padding: 10px 5px;
      visibility: hidden; }
    .registe_box .must .right {
      border-color: #1dc091; }
    .registe_box .must .hint_right {
      color: #1dc091; }
    .registe_box .must .wrong {
      border-color: #EA5A70; }
    .registe_box .must .hint_wrong {
      color: #EA5A70; }

.not_found {
  width: 1000px;
  position: relative;
  background: #FFFFFF; }
  .not_found .not_found_bg {
    width: 854px;
    height: 305px;
    display: block; }
  .not_found .result_cont {
    height: 270px;
    padding-top: 80px;
    box-sizing: border-box; }
    .not_found .result_cont .result {
      font-size: 24px;
      margin-bottom: 20px; }
    .not_found .result_cont .result,
    .not_found .result_cont .count {
      color: #EA5A70; }
    .not_found .result_cont .time {
      font-size: 18px;
      font-weight: lighter;
      color: #44C0FF; }

.class_container {
  width: 1000px;
  background: #FFFFFF;
  padding-bottom: 330px;
  margin-bottom: 90px; }
  .class_container .tags {
    width: 243px;
    display: inline-block;
    margin-bottom: 20px; }
  .class_container .tag_item {
    font-size: 18px;
    padding: 3px 14px;
    text-align: center;
    line-height: 24px;
    font-weight: lighter;
    color: #FFFFFF;
    background: #1dc091; }
  .class_container .class_tags {
    width: 356px;
    height: 60px; }
  .class_container .classes_tags {
    width: 730px;
    padding: 30px 0; }
    .class_container .classes_tags .title {
      margin: 0 73px;
      font-size: 18px;
      padding-left: 10px;
      margin-bottom: 20px;
      border-left: 5px solid #EA5A70; }
  .class_container .class_tag:last-child {
    margin: 0; }

/*# sourceMappingURL=main.css.map*/