{% extends "hello/desktop/pages/base.html" %}
{% block head %}
	{{ super() }}
{% endblock %}
{% block title %}登录{% endblock %}
{% block content %}
	<div class="class_container margin_auto margin_b">
		<div class="classes_tags margin_auto">
			<div class="title">热门标签</div>
			<div class="space">
                {% for tag in hot_tags %}
				    <div class="tags tc">
                        <div class="tag_item">{{ tag.name }}</div>
				    </div>
                {% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
