{% extends "hello/desktop/pages/base.html" %}
{% block title %}学而{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
	{% include 'hello/desktop/svg/hover_rbt.html' %}
    {% include 'hello/desktop/components/index/banner.html' %}
    {% include 'hello/desktop/components/index/list.html' %}
    {% include 'hello/desktop/components/index/hot.html' %}
    {% include 'hello/desktop/components/index/guess.html' %}
{% endblock %}
{% block js %}
 <script src="/static/x_d/js/banner.bundle.js"></script>
{% endblock %}